@import "../../bootstrap/scss/bootstrap";
/*@import url("https://use.typekit.net/fwo4yqm.css");

body {
	font-family: Soleil, sans-serif;
}*/

main {
	text-align: center;
}

footer {
	margin-top: 20pt;
	margin-bottom: 50pt;
	padding: 50pt; 
}

#city-list-container{
	width: 100%;
	left: 0pt;
	padding-left: 0pt;
}

.city-list-item {
	cursor: pointer;
}

.forecast-header {
	font-size: 10pt;
	font-weight: 300;
}

.forecast-card {
	margin-bottom: 20pt;
}

.uvi-low {
	background-color: var(--bs-green);
}

.uvi-moderate {
	background-color: var(--bs-yellow);
}

.uvi-high {
	background-color: var(--bs-orange);
}

.uvi-very-high {
	background-color: var(--bs-red);
}

.uvi-extreme {
	background-color: var(--bs-purple);
}

#invalid-city-error {
	display: none;
	transition: display 2s;
}

@media screen and (max-width: 768px){

}